.profile {
    display: flex;
}

.profile-para,
.profile-pic,
.profile-details {
    flex: 1;
}

header-content {
    background-color: #b2b7bf;
}

.profile-pic {
    text-align: center;
}
