 body {
     font-family: serif;
     width: 1024px;
     margin-left: auto;
     margin-right: auto;
 }
 
 .header {
     background-color: grey;
     padding: 3%;
 }
 
 .whitebox {
     background-color: white;
     padding: 2%;
     width: 50%;
     margin: 0 auto;
 }
 
 .inner {
     border: 2px solid black;
     padding: 1%;
     width: 97%;
 }
 
 #name {
     text-align: center;
     font-weight: bold;
 }
 
 #role {
     font-style: italic;
     text-align: center;
 }
 
 .a,
 .b,
 .c,
 .d {
     float: right;
 }
 
 .footer {
     border: 10px solid burlywood;
     margin-top: 1%;
 }
 
 .zerobox {
     display: flex;
     padding-top: 50px;
 }
 
 #expn {
     width: 20%;
     background-color: burlywood;
     font-weight: bold;
     text-align: center;
 }
