#intdg {
    font-weight: bold;
}

#exd {
    font-weight: bold;
}

.tfirstsubbox {
    display: flex;
}

.interior {
    width: 88%;
}

.country1 {
    border: 1px solid black;
    background-color: burlywood;
    float: right;
    height: max-content;
    max-width: 25%;
}

.exterior {
    display: flex;
    justify-content: space-between;
}

.firstext {
    width: 88%;
}


.country2 {
    border: 1px solid black;
    background-color: burlywood;
    float: right;
    height: max-content;
    max-width: 25%;
}

#ny,
#sf {
    text-align: center;
}
