#interior {
    font-weight: bold;
}

#exterior {
    font-weight: bold;
}

.experience-first-panel {
    display: flex;
}

.interior-details {
    width: 88%;
}

.country-details {
    border: 1px solid black;
    background-color: burlywood;
    float: right;
    height: max-content;
    max-width: 25%;
}

.experience-second-panel {
    display: flex;
    justify-content: space-between;
}

.exterior-details {
    width: 88%;
}

#ny,
#sf {
    text-align: center;
}
